body{
	font-family: 'Nunito Sans', sans-serif;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 26px 15px 25px 15px;
	
}

header{
	border-bottom: 1px solid #DEDEDE;
}

.header {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.header-logo {
	display: block;
	background-image: url(../img/logo.svg);
	width: 176px;
	height: 56px;
	background-repeat: no-repeat;
	background-size: cover;
}

.header-nav{
	display: flex;
	list-style-type: none;
	padding-left: 0px;
	gap: 46px;
}

.header-nav a{
	font-weight: 600;
	font-size: 20px;
	color: #443737;
	text-decoration: none;
}

.header-nav a::after{
	content: ' ';
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background: transparent;
	display: block;
}

.header-nav a:hover{
	color: #FFC725;
}

.header-nav a.active::after{
	background: #FFC725;
}

.button {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	padding: 0px;
	gap: 10px;
	cursor: pointer;
}
.button-item {
	position: relative;
}
.button-count {
	color: #FFFFFF;
	font-weight: 700;
	font-size: 13px;
	background: #F37335;
	/* padding: 1px 5px; */
	border-radius: 100%;
	position: absolute;
	width: 17px;
	height: 17px;
	text-align: center;
	line-height: 1.3;
	bottom: 0;
	right: -4px;
}
.button-text {
	font-weight: 700;
	font-size: 15px;
	color: #443737;
}

.bg {
	text-align: center;
	color: white;
	background-image: url(../img/bg.png);
	background-size: cover;
	background-position: center center;
	padding: 142px 0px 142px 0px;
	margin-bottom: 140px;

}
.container {
}
.breadcrumbs {
	padding-left: 0;
	margin-top: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 7px;
}

.breadcrumbs a {
	color: #DEDEDE;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;

}

.breadcrumbs a:hover{
	color: #FFC725;
}

.breadcrumbs a::before{
	content: "/";
	position: relative;
	left: -3px;
	pointer-events: none;

}

.breadcrumbs a:hover::before{
	color: #DEDEDE;
}

.breadcrumbs li:first-child a::before {
	display: none;
}

.title {
	font-weight: 700;
	font-size: 79px;
	margin: 10px 0px;
}

.description {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	max-width: 320px;
	color: #FAF9F9;
	margin: 0 auto;
}


/*  */

.banner {
	margin-bottom: 100px;
}

.banner-box {
	background-image: url(../img/banner-bg.jpg.jpg);
	background-size: cover;
	background-position: center center;
	padding: 100px 0px 120px 100px;
	max-width: 1180px;
	display: flex;
	flex-direction: column;

}
.banner-title {
	color: #FFFFFF;
	font-weight: 900;
	font-size: 60px;
	font-family: 'Nunito Sans', sans-serif;
	margin: 0px 0px 10px 0px;
	text-transform: uppercase;
}

.banner-title span{
	background-color: #F37335;
	font-weight: 600;
	font-size: 14px;
	border-radius: 14px;
	font-family: 'Open Sans', sans-serif;
	padding: 5px 19px 5px 19px;
	}

.text {
	color: #FAF9F9;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	max-width: 329px;
	margin: 0px 0px 15px 0px;
}
.banner-link {
	padding: 20px 5px 20px 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: #1E2F40;
	background-color: #FBB731;
	border-radius: 5px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	max-width: 170px;
	text-align: center;
}

/*  */
.menu-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu-title {
	color: #1B2A49;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 44px;
	margin: 0;
	margin-bottom: 34px;
}
.menu-select {
	padding: 12px 30px;
	border: 1px solid #DEDEDE;
	border-radius: 22px;
	color: #443737;
	font-weight: 400;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	appearance: none;
	flex-basis: 279px;
	background-image: url(../img/arrow.svg);
	background-size: 12.79px 7.75px;
	background-repeat: no-repeat;
	background-position: 89% center;
}

/*  */

.menu-grid {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 20px;
	margin-bottom: 100px;
}
.menu-grid-item {
}
.menu-grid-cover {
	width: 100%;
	height: 430px;
	position: relative;
	overflow: hidden;
}

.menu-grid-cover img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	width: 100%;
	height: 430px;
}

.menu-grid-title {
	color: #1B2A49;
	font-weight: 600;
	font-size: 30px;
	text-align: center;
}
.menu-grid-price {
	color: #979797;
	font-weight: 700;
	font-size: 20px;
	text-align: center
}
.menu-grid-btn {
	background-color: #FBB731;
	border: none;
	border-radius: 5px;
	padding: 10px 30px 10px 30px;
	margin: 0 auto;
	display: block;
}
.menu-grid-icon {
	background-image: url(../img/menu/cart.svg);
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: center center;
	padding: 18px;

}
.menu-grid-text {
	color: #1E2F40;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
}


.footer {
	background: #1E2F40;
	color: #fff;
	padding-top: 117px;
	padding-bottom: 106px;
}


.footer-box {
	display: flex;
	justify-content: space-between;
}

.footer-logo {
	width: 63px;
	height: 56px;
}
.footer-item {
	flex: 0 0 auto;
}
.footer-item h2 {
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 19px;
	margin-top: 0;
}
.footer-item li {
	margin-bottom: 9px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #FAF9F9;
	font-weight: 700;
	line-height: 24px;
}
.footer-item a {
	color: #DEDEDE;
	text-decoration: none;
	font-weight: 400;
}
.footer-item span {
	color: #DEDEDE;
	display: block;
	font-weight: 400;
	margin-bottom: 2px;
}
.footer-tel ul {
	font-size: 20px;
	color: #FBB731;
	margin-top: 0;
	font-size: 900;
}
.footer-tel li {
	margin-bottom: 19px;
}

.footer-list {
	padding-left: 0px;
	list-style-type: none;
}